#canvas {
  border: black 10px solid;
  height:500px;
  width: 500px;

};

/*.topRow {
  border: black 3px solid;
  height:250px;
  width:495px;

}
.bottomRow {
  border: black 3px solid;
  height:250px;
  width:495px;

}
.topRight {
  border: blue 10px solid;
  height: 60px;
  width:  125px;
}*/*/
