table
{
  border: black 5px solid;
  height: 500px;
  width:  800px;
}
.square{
  border: black 1px solid;
  height:10px;
  width:10px;
}
/*#canvas {
  border: black 10px solid;
  height:1000px;
  width: 1000px;
}*/



/*.topRow {
  border: black 3px solid;
  height:250px;
  width:495px;

}
.bottomRow {
  border: black 3px solid;
  height:250px;
  width:495px;

}
.topRight {
  border: blue 10px solid;
  height: 60px;
  width:  125px;
}*/*/
